@import url(ProjectAssets.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}
body{
   position: relative;
   background-color: var(--bg-clr);
}
a{
    text-decoration: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background: var(--bg-clr);
  box-shadow: 20px 0 10px rgba(0, 0, 0, 0.411);
  transition: 0.3s ease-in-out;
  padding: 2rem 0;
  z-index: 1000;
  border-top-right-radius: 20px;
}


.sidebar.show {
  left: 0;
  
}


.nav-links {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  
}

.nav-links li {
  padding: 0.3rem 1rem ;
  transition: padding-left 300ms ease-in;
  padding: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--sub-heading);
  font-weight: 100;
  color: var(--heading1-clr);
  letter-spacing: 6;
  transition: 0.3s;
}
.nav-links li:hover {
  background-color: white;
  border-left: 8px solid var(--light-green);
  padding-left: 10%;
}

.nav-btn{
    display: block;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--heading1-clr);
    cursor: pointer;
}
.nav-btn.show{
    display: none;
}
.close-icon {
  font-size: 2rem;
  color: var(--heading1-clr);
  cursor: pointer;
}
.close-icon:hover{
    color: red;
}
.nav-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
}
.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.head{
    position: relative;
}

.cart-btn{
    display: block;
    position: fixed;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--heading1-clr);
    cursor: pointer;
    top: 18;
    right: 15;

}
.cart-btn:hover{
    color: var(--text-subheading-clr);
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h2{
    font-family: var(--main-heading);
    color: var(--heading1-clr);
    font-size: 4.5rem;
    margin-top: 80px;
    letter-spacing: 5;
    margin-bottom: 30px;
}
.cart{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;
}




.items-container{
    background-color: rgba(0, 0, 0, 0.123);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    gap: 20px;
}
.item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid var(--heading1-clr);
}
.item h4{
    font-family: var(--sub-heading);
    font-weight: 100;
    color: var(--heading1-clr);
    font-size: 1.2rem;
}
.item-summary{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.count-container{
    background-color: var(--heading1-clr);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.count-container button{
    background-color: var(--heading1-clr);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.count-container button:hover{
    cursor: pointer;
}



.summary-container{
    border: 5px solid var(--heading1-clr);
    border-radius: 20px;
    padding: 8px;
    width: 250px;
    background-color: var(--pastel-green);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.summary-container h4{
    font-family: var(--sub-heading);
    font-weight: 100;
    color: var(--heading1-clr);
    font-size: 2rem;
}

.subtotal, .shipping, .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subtotal {
    padding-bottom: 20px;
    padding-top: 30px;
}
.shipping{
    padding-bottom: 20px;
}
.total{
    padding-top: 10px;
    padding-bottom: 40px;
}
.line{
    border: 2px solid var(--heading1-clr);
    width: 100%;
}
.summary-subheading {
    font-size: 1rem;
    color: var(--heading1-clr);
    font-family: var(--sub-heading);
}
.summary-text{
    font-size: 1rem;
    color: var(--heading1-clr);
    font-family: var(--sub-heading);
}
.summary-container button{
    background-color: var(--heading1-clr);
    border: 3px solid var(--light-green);
    border-radius: 10px;
    width: 100%;
    font-family: var(--btn-text);
    font-size: 1rem;
    font-weight: bold;
    color: var(--btn-text-clr);
}
.summary-container button:hover{
    background-color: var(--btn-text-clr);
    border: 3px solid var(--heading1-clr);
    color: var(--heading1-clr);
    cursor: pointer;
}









/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.btn-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid blue; */
    height: 50px;
    text-align: center;
    margin-top: 20px;
}
.btn-container button{
    background-color: var(--heading1-clr);
    border: 5px solid var(--light-green);
    color: var(--btn-text-clr);
    font-family: var(--btn-text);
    font-weight: bold;
    border-radius: 20px;
    height: 50px;
    z-index: 1;
}
.btn-container button:hover{
    cursor: pointer;
    color: var(--heading1-clr);
    background-color: var(--btn-text-clr);
    border: 5px solid var(--heading1-clr);
}
.btn-container button, .btn-img-container, .btn-container{
    width: 200px;
}
.btn-img-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 5px solid black; */
    position: absolute;
    top: -44px;
    left: -10px;
}
.btn-img{
    width: 45px;
}


.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 5px solid blueviolet; */
}
.footer-parrot-container{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-clr);
}
.footer-parrot-container div{
    width: 50vw;
    padding: 0px 15px;
}
.footer-parrot-images-container-left{
    display: flex;
    flex-direction: row;
}
.footer-parrot-images-container-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer img{
    width: 50px;
    padding: 0px 5px;
   
}
.footer-info{
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--heading1-clr);
    color: white;
    font-family: var(--text);
    letter-spacing: 1;
}
.footer a{
    color: white;
}
.footer-icon{
    font-size: 2rem;
    margin: 15px;
    text-decoration: none;
}
.footer-icon:hover{
    font-size: 2.3rem;
    color: var(--pastel-green);
    cursor: pointer;
}
.footer-info p{
    margin-top: 15px;
}



@media (min-width: 601px) and (max-width: 1024px){
    body, main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .footer {
        margin-top: auto;
    }
}

@media (min-width: 300px) and (max-width: 600px){
    .cart{
        flex-direction: column;
        justify-content: space-between;
    }
    .cart h2{
        margin-top: 80px;
    }
    .item-summary{
        flex-direction: column;
        gap: 10px;
    }
    .items-container{
        gap: 40px;
    }
    .footer{
        display: none;
    }
    .summary-container{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        border: none;
        border-radius: 0;
    }
    .summary-container h4{
        display: none;
    }
    .subtotal {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .shipping{
        padding-bottom: 8px;
    }
    .total{
        padding-top: 8px;
        padding-bottom: 5px;
    }
}