@import url(ProjectAssets.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}
body{
   position: relative;
   background-color: var(--bg-clr);
}
a{
    text-decoration: none;
}
.head{
    position: relative;
}
.nav-btn{
    display: block;
    position: fixed;
    top: 18;
    left: 15;
    z-index: 1;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--heading1-clr);
    cursor: pointer;
}
.cart-btn{
    display: block;
    position: absolute;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--heading1-clr);
    cursor: pointer;
    top: 18;
    right: 15;

}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h2{
    font-family: var(--main-heading);
    color: var(--heading1-clr);
    font-size: 4.5rem;
    margin-top: 80px;
    letter-spacing: 5;
    margin-bottom: 30px;
}
.cart{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;
}




.items-container{
    background-color: rgba(0, 0, 0, 0.123);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    gap: 20px;
}
.item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid var(--heading1-clr);
}
.item h4{
    font-family: var(--sub-heading);
    font-weight: 100;
    color: var(--heading1-clr);
    font-size: 1.2rem;
}
.item-summary{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.count-container{
    background-color: var(--heading1-clr);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.count-container button{
    background-color: var(--heading1-clr);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}



.summary-container{
    border: 5px solid var(--heading1-clr);
    border-radius: 20px;
    padding: 8px;
    width: 250px;
    background-color: var(--pastel-green);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.summary-container h4{
    font-family: var(--sub-heading);
    font-weight: 100;
    color: var(--heading1-clr);
    font-size: 2rem;
}

.subtotal, .shipping, .total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subtotal {
    padding-bottom: 20px;
    padding-top: 30px;
}
.shipping{
    padding-bottom: 20px;
}
.total{
    padding-top: 10px;
    padding-bottom: 40px;
}
.line{
    border: 2px solid var(--heading1-clr);
    width: 100%;
}
.summary-subheading {
    font-size: 1rem;
    color: var(--heading1-clr);
    font-family: var(--sub-heading);
}
.summary-text{
    font-size: 1rem;
    color: var(--heading1-clr);
    font-family: var(--sub-heading);
}
.summary-container button{
    background-color: var(--heading1-clr);
    border: 3px solid var(--light-green);
    border-radius: 10px;
    width: 100%;
    font-family: var(--btn-text);
    color: var(--btn-text-clr);
}









/*OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO*/
.btn-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid blue; */
    height: 50px;
    text-align: center;
    margin-top: 20px;
}
.btn-container button{
    background-color: var(--heading1-clr);
    border: 5px solid var(--light-green);
    color: var(--btn-text-clr);
    font-family: var(--btn-text);
    font-weight: bold;
    border-radius: 20px;
    height: 50px;
    z-index: 1;
}
.btn-container button:hover{
    cursor: pointer;
    color: var(--heading1-clr);
    background-color: var(--btn-text-clr);
    border: 5px solid var(--heading1-clr);
}
.btn-container button, .btn-img-container, .btn-container{
    width: 200px;
}
.btn-img-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 5px solid black; */
    position: absolute;
    top: -44px;
    left: -10px;
}
.btn-img{
    width: 45px;
}


.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 5px solid blueviolet; */
}
.footer-parrot-container{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-clr);
}
.footer-parrot-container div{
    width: 50vw;
    padding: 0px 15px;
}
.footer-parrot-images-container-left{
    display: flex;
    flex-direction: row;
}
.footer-parrot-images-container-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer img{
    width: 50px;
    padding: 0px 5px;
   
}
.footer-info{
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--heading1-clr);
    color: white;
    font-family: var(--text);
    letter-spacing: 1;
}
.footer a{
    color: white;
}
.footer-icon{
    font-size: 2rem;
    margin: 15px;
    text-decoration: none;
}
.footer-icon:hover{
    font-size: 2.3rem;
    color: var(--pastel-green);
    cursor: pointer;
}
.footer-info p{
    margin-top: 15px;
}