@import url("ProjectAssets.css");
body{
  margin: 0;
  height: 100vh;
  background-color: var(--bg-clr);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}
h1{
  color: var(--text-subheading-clr);
  font-family: var(--side-notes);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.4–1.6;
  margin-bottom: 0;
}
p{
  /* color: var(--text-subheading-clr); */
  font-family: var(--text);
  align-self: flex-start;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}
.contacts{
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2px;
}
.info{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.send-msg{
  display: flex;
  flex-direction: column;
  border: 2px solid var(--heading1-clr);
  background-color: var(--pastel-green);
  color: var(--heading1-clr);
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  gap: 5px;
  width: 40%;
}
.input-field, button{
  width: 100%;
  width: 90%;
  height: 10%;
}
.input-field{
  font-family: var(--btn-text);
  background-color: var(--heading1-clr);
  font-size: 17px;
  display: flex;
  border-radius: 8px;
  padding: 10px;
  font-weight: 80;
  box-sizing: border-box; /* ensures padding doesn’t break width */
}
.input-field::placeholder{
  color: var(--light-green);
}
.input-field:focus{
  background-color: var(--text-subheading-clr);
  outline: none;
}
#msg{
  height: 30%;
  text-align: left;
}
button{
    color: var(--heading1-clr);
    background-color: var(--pastel-yellow-green);
    border: 5px solid var(--heading1-clr);
    font-family: var(--btn-text);
    font-weight: bold;
    font-size: 14px;
    border-radius: 20px;
    height: 50px;
    z-index: 1;
}
button:hover{
    cursor: pointer;
    color: var(--btn-text-clr);
    background-color: var(--heading1-clr);
}
button{
    width: 200px;
}