/* .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background: var(--clr-grey-10);
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
  padding: 2rem 0;
  z-index: 1000;
  border-top-right-radius: 20px;
}


.sidebar.show {
  left: 0;
  
}

.nav-links {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}

.nav-links li {
  padding: 0.3rem 1rem ;
  transition: padding-left 300ms ease-in;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  color: var(--clr-grey-5);
  letter-spacing: 6;
  transition: 0.3s;
}
.nav-links li:hover {
  background-color: var(--clr-primary-light);
  border-left: 3px solid var(--clr-primary);
  padding-left: 10%;
}

.nav-btn{
    display: block;
    font-size: 2rem;
    color: var(--clr-primary);
    cursor: pointer;
}
.nav-btn.show{
    display: none;
}
.close-icon {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
.nav-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
}
.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

 */



 