@import url(ProjectAssets.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}
body{
   position: relative;
}
.nav-btn{
    display: block;
    position: fixed;
    top: 18;
    left: 15;
    z-index: 1;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--heading1-clr);
    cursor: pointer;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Project Assets/bg img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    cursor: url("Project Assets/arrow_downward_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg") 12 12, auto;
}


.hero h1{
    font-family: var(--main-heading);
    font-size: 6rem;
    text-decoration: none;
    font-weight: 100;
    color: var(--bg-clr);
}
.hero h3{
    font-family: var(--side-notes);
    font-size: 3rem;
    font-weight: 400;
    color: var(--pastel-yellow-green);
}

.gradient-bar{
    background: linear-gradient(to right, #4a5813, yellow, #4a5813);
    width: 100%;
    height: 5.93vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.about-us{
    /* width: 100vw; */
    height: 650px;
    background-color: var(--bg-clr);
    display: flex;
    flex-direction: row;
    /* border: 5px solid green; */
    padding: 50px 0px 50px 0px;
    gap: 20px;
}
#about-us-img{
    width: 550px;
    height: 420px;
    /* border: 5px solid red; */
    margin-top: 50px;
    
}
.heading-container{
    /* border: 5px solid gray; */
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}
.heading-container h2{
    font-family: var(--main-heading);
    color: var(--heading1-clr);
    font-size: 5rem;
    text-align: center;
}
#heading-img{
    width: 70px;
    height: 118px;
    position: absolute;
    top: -40px;
    right: 100px;
}
.about-us p{
    font-size: 1.2rem;
    color: var(--text-subheading-clr);
    font-family: var(--text);
    margin: 5px 0;
}
.about-us-info{
    margin: 10px 80px 0 30px;
    display: flex;
    flex-direction: column;
}


.btn-and-text-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-self: baseline;
}

/* button code */
.btn-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid blue; */
    height: 50px;
    text-align: center;
    margin-top: 20px;
}
.btn-container button{
    background-color: var(--heading1-clr);
    border: 5px solid var(--light-green);
    color: var(--btn-text-clr);
    font-family: var(--btn-text);
    font-weight: bold;
    border-radius: 20px;
    height: 50px;
    z-index: 1;
}
.btn-container button:hover{
    cursor: pointer;
    color: var(--heading1-clr);
    background-color: var(--btn-text-clr);
    border: 5px solid var(--heading1-clr);
}
.btn-container button, .btn-img-container, .btn-container{
    width: 200px;
}
.btn-img-container{
    display: flex;
    flex-direction: row;
    gap: 90px;
    padding-left: 20px;
    /* border: 5px solid black; */
    position: absolute;
    top: -33px;
}
.btn-img{
    width: 35px;
}



/*Guides Page*/
.guides{
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: 650px;
    background-color: var(--bg-clr);
    /* border: 5px solid green; */
    justify-content: center;
}
.guides-all{
    display: flex;
    flex-direction: row;
    /* margin: 60px 30px 60px 30px;
    padding: 30px; */
    /* border: 5px solid black; */
    padding: 0px 40px;
}
.guides-info{
    display: flex;
    flex-direction: column;
    /* border: 5px solid aqua; */
    padding: 30px;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.guides-info h3{
    font-family: var(--side-notes);
    color: var(--text-subheading-clr);
    font-size: 3rem;
}
.guides-info h2{
    font-family: var(--main-heading);
    color: var(--heading1-clr);
    font-size: 4.8rem;
    
    font-weight: 100;
}
.guides-info p{
    font-family: var(--text);
    color: var(--text-subheading-clr);
    /* padding: 0px 90px; */
    font-size: 1.8rem;
    /* border: 5px solid orange; */
    margin: 10px 0px;
    padding: 0px 20px;
}
.guides-info .btn-container{
    align-self: center;
}

.mul-guides{
    display: flex;
    flex-direction: row;
    /* border: 5px solid red; */
    
}
.guide{
    /* border: 5px solid gray; */
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.guide p{
    font-family: var(--text);
    color: var(--heading1-clr);
    font-size: 1rem;
}
.guide button{
    background-color: var(--bg-clr);
    color: var(--light-green);
    font-family: var(--sub-heading);
    font-size: 1.3rem;
    border: none;
}
.guide button:hover{
    cursor: pointer;
    font-weight: bold;
}
.guide img{
    width: 220px;
    align-self: center;
}


.guides-parrot-row{
    /* border: 5px solid blue; */
}
.guides-parrot-row img{
    width: 5.93vh;
}

.guides-parrot-row{
    /* align-self: flex-end; */
    margin-top: 65px;
    margin-left: 40px;
}



.shop{
    /* width: 100vw; */
    height: 650px;
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    flex-direction: column;
    border: 5px solid blueviolet;
}
.footer-parrot-container{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-clr);
}
.footer-parrot-container div{
    width: 50vw;
    padding: 0px 15px;
}
.footer-parrot-images-container-left{
    display: flex;
    flex-direction: row;
}
.footer-parrot-images-container-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer img{
    width: 50px;
    padding: 0px 5px;
   
}
.footer-info{
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--heading1-clr);
    color: white;
    font-family: var(--text);
    letter-spacing: 1;
}
.footer-icon{
    font-size: 2rem;
    margin: 15px;
    text-decoration: none;
}
.footer-info p{
    margin-top: 15px;
}