@import url(ProjectAssets.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}
body{
   position: relative;
}

a{
    text-decoration: none;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background: var(--bg-clr);
  box-shadow: 20px 0 10px rgba(0, 0, 0, 0.411);
  transition: 0.3s ease-in-out;
  padding: 2rem 0;
  z-index: 1000;
  border-top-right-radius: 20px;
}


.sidebar.show {
  left: 0;
  
}


.nav-links {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  
}

.nav-links li {
  padding: 0.3rem 1rem ;
  transition: padding-left 300ms ease-in;
  padding: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--sub-heading);
  font-weight: 100;
  color: var(--heading1-clr);
  letter-spacing: 6;
  transition: 0.3s;
}
.nav-links li:hover {
  background-color: white;
  border-left: 8px solid var(--light-green);
  padding-left: 10%;
}

.nav-btn{
    display: block;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--heading1-clr);
    cursor: pointer;
}
.nav-btn.show{
    display: none;
}
.close-icon {
  font-size: 2rem;
  color: var(--heading1-clr);
  cursor: pointer;
}
.close-icon:hover{
    color: red;
}
.nav-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1100;
}
.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Project Assets/bg img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    cursor: url("Project Assets/arrow_downward_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg") 12 12, auto;
}


.hero h1{
    font-family: var(--main-heading);
    font-size: 6rem;
    text-decoration: none;
    font-weight: 100;
    color: var(--bg-clr);
}
.hero h3{
    font-family: var(--side-notes);
    font-size: 3rem;
    font-weight: 400;
    color: var(--pastel-yellow-green);
}

.down-arrow{
    font-size: 2rem;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    margin-top: 4%;
    animation: bounce 2s infinite;
}

.down-arrow::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(45deg);
    filter: drop-shadow(0 0 10px var(--pastel-yellow-green)) 
            drop-shadow(0 0 20px var(--pastel-yellow-green))
            drop-shadow(0 0 30px var(--pastel-yellow-green));
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-20px);
    }
    60% {
        transform: translateX(-50%) translateY(-10px);
    }
}


.gradient-bar{
    background: linear-gradient(to right, #4a5813, yellow, #4a5813);
    width: 100%;
    height: 6.09vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.gradient-bar img{
    width: 100%;
    object-fit: cover;
}

.about-us{
    /* width: 100vw; */
    height: 110%;
    background-color: var(--bg-clr);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid green; */
    padding: 50px 0px 50px 0px;
    gap: 20px;
}
.about-us-img-container .about-us-info{
  height: 80%;
}
.about-us-img-container{
  /* border: 5px solid aqua; */
}

#about-us-img{
    width: 550px;
    height: 420px;
    /* border: 5px solid red; */
    margin-top: 50px;
    
}
.heading-container{
    /* border: 5px solid gray; */
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}
.heading-container h2{
    font-family: var(--main-heading);
    color: var(--heading1-clr);
    font-size: 5rem;
    text-align: center;
}
#heading-img{
    width: 70px;
    height: 118px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -50%);
}
.about-us p{
    font-size: 1.2rem;
    color: var(--text-subheading-clr);
    font-family: var(--text);
    margin: 5px 0;
}
.about-us-info{
    margin: 10px 80px 0 30px;
    display: flex;
    flex-direction: column;
    /* border: 5px solid blue; */
}


.btn-and-text-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-self: baseline;
}

/* button code */
.btn-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid blue; */
    height: 50px;
    text-align: center;
    margin-top: 20px;
}
.btn-container button{
    background-color: var(--heading1-clr);
    border: 5px solid var(--light-green);
    color: var(--btn-text-clr);
    font-family: var(--btn-text);
    font-weight: bold;
    border-radius: 20px;
    height: 50px;
    z-index: 1;
}
.btn-container button:hover{
    cursor: pointer;
    color: var(--heading1-clr);
    background-color: var(--btn-text-clr);
    border: 5px solid var(--heading1-clr);
}
.btn-container button, .btn-img-container, .btn-container{
    width: 200px;
}
.btn-img-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 5px solid black; */
    position: absolute;
    top: -44px;
    left: -10px;
}
.btn-img{
    width: 45px;
}



/*Guides Page*/
.guides{
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: 110%;
    background-color: var(--bg-clr);
    /* border: 5px solid green; */
    justify-content: center;
}
.guides-all{
    display: flex;
    flex-direction: row;
    /* margin: 60px 30px 60px 30px;
    padding: 30px; */
    /* border: 5px solid black; */
    padding: 0px 40px;
}
.guides-info{
    display: flex;
    flex-direction: column;
    /* border: 5px solid aqua; */
    padding: 30px;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.guides-info a{
    text-align: center;
    display: flex;
    justify-content: center;
}
.guides-info h3{
    font-family: var(--side-notes);
    color: var(--text-subheading-clr);
    font-size: 3rem;
}
.guides-info h2{
    font-family: var(--main-heading);
    color: var(--heading1-clr);
    font-size: 4.8rem;
    
    font-weight: 100;
}
.guides-info p{
    font-family: var(--text);
    color: var(--text-subheading-clr);
    /* padding: 0px 90px; */
    font-size: 1.8rem;
    /* border: 5px solid orange; */
    margin: 10px 0px;
    padding: 0px 20px;
}
.guides-info .btn-container{
    align-self: center;
}

.mul-guides{
    display: flex;
    flex-direction: row;
    /* border: 5px solid red; */
    
}
.guide{
    /* border: 5px solid gray; */
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    
}
.guide:hover{
    box-shadow: 0px 20px 10px 2px rgba(0, 0, 0, 0.2);
}
.guide p{
    font-family: var(--text);
    color: var(--heading1-clr);
    font-size: 1rem;
}
.guide button{
    background-color: var(--bg-clr);
    color: var(--light-green);
    font-family: var(--sub-heading);
    font-size: 1.3rem;
    border: none;
}
.guide button:hover{
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--heading1-clr);
}
.guide img{
    width: 220px;
    align-self: center;
}


.guides-parrot-row{
    /* align-self: flex-end; */
    margin-top: 65px;
    margin-left: 40px;
}






.shop{
    /* width: 100vw; */
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--bg-clr);
    /* border: 5px solid grey; */
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    /* border: 5px solid black; */
    padding: 50px;
    gap: 20px;
}
.product-categories{
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* border: 5px solid rgb(112, 9, 9); */
}
.product-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    text-align: center;
    height: 90%;
    /* border: 5px solid grey; */
}
.product-container:hover{
    box-shadow: 0 20px 10px 2px rgba(0, 0, 0, 0.2);
}
.product-container button{
    font-family: var(--sub-heading);
    font-size: 1.2rem;
    color: var(--light-green);
    background-color: var(--bg-clr);
    border: 1px solid var(--bg-clr);
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    margin-bottom: 8px;
}
.product-container button:hover{
    font-size: 1.4rem;
    color: var(--heading1-clr);
    cursor: pointer;
}
.product-container img{
    width: 220px;
    height: 250px;
    border: 5px solid var(--light-green);
    border-radius: 20px;
    object-fit: cover;
    background-color: var(--dark-yellow);
    cursor: pointer;
}

.shop-info{
    /* border: 5px solid red; */
    padding: 0px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.heading-img-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid aqua; */
}
.heading-img-container img{
    width: 80px;
    height: 60px;
    position: absolute;
    top: 42%;
    left: 75%
}
.shop-info h3{
    font-family: var(--side-notes);
    color: var(--text-subheading-clr);
    font-size: 2.5rem;
    width: 70%;
    letter-spacing: 2;
    padding: 0px;
    /* border: 5px solid orangered; */
}
.shop-info h2{
    font-family: var(--main-heading);
    color: var(--heading1-clr);
    font-size: 4.5rem;
    cursor: pointer;
}
.shop-info h2:hover{
    color: black;
    font-size: 5rem;
}
.shop-info p{
    font-family: var(--text);
    color: var(--text-subheading-clr);
}
.footer{
    display: flex;
    flex-direction: column;
    /* border: 5px solid blueviolet; */
}
.footer-parrot-container{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-clr);
}
.footer-parrot-container div{
    width: 50vw;
    padding: 0px 15px;
}
.footer-parrot-images-container-left{
    display: flex;
    flex-direction: row;
}
.footer-parrot-images-container-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer img{
    width: 50px;
    padding: 0px 5px;
   
}
.footer-info{
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--heading1-clr);
    color: white;
    font-family: var(--text);
    letter-spacing: 1;
}
.footer a{
    color: white;
}
.footer-icon{
    font-size: 2rem;
    margin: 15px;
    text-decoration: none;
}
.footer-icon:hover{
    font-size: 2.3rem;
    color: var(--pastel-green);
    cursor: pointer;
}
.footer-info p{
    margin-top: 15px;
}


@media (min-width: 900px) and (max-width: 1024px) {
    .gradient-bar{
        height: 3vh;
    }
    .about-us{
        height: 50vh;
    }
    #about-us-img{
        content: url("Project Assets/chat red macaw c2.png");
        width: 380px;
        height: 450px;
        margin-top: 80px;
        padding: 20px;
    }
    .guides{
        height: 50vh;
    }
    .shop{
        height: 70vh;
    }
    .products{
        flex-direction: column-reverse;
    }
    .product-categories{
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .heading-img-container img{
        top: -15%;
        left: 71%;
    }
    .footer{
        height: 15vh;
    }
}

@media (min-width: 601px) and (max-width: 899px) {
    .gradient-bar{
        height: 3vh;
    }
    .about-us{
        height: 60vh;
    }
    #about-us-img{
        content: url("Project Assets/chat red macaw c2.png");
        width: 300px;
        height: 400px;
        margin-top: 80px;
        padding: 20px;
    }
    .btn-and-text-container{
        flex-direction: column;
    }
    .guides{
        height: 120vh;
    }
    .guides-all{
        flex-direction: column;
    }
    .guides-info{
        margin-top: 80px;
    }
    .mul-guides{
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    .products{
        flex-direction: column-reverse;
    }
    .shop{
        height: 90vh;
    }
    .product-categories{
        margin-top: 50px;
    }
    .products{
        height: 150vh;
        margin-bottom: 50px;
    }
    .footer{
        height: 20vh;
    }
}


@media (max-width: 600px){
    .hero{
        height: 97vh;
        padding: 10px;
    }
    .hero h1{
        font-size: 4rem;
    }
    .hero h3{
        font-size: 2rem;
    }
    .gradient-bar{
        height: 3vh;
    }
    .about-us{
        flex-direction: column;
        height: 90%;
    }
    .about-us-img-container{
        display: none;
    }
    .btn-and-text-container{
        flex-direction: column;
    }
    .guides-all{
        flex-direction: column;
    }
    .mul-guides{
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .guide{
        width: 202px;
        height: 320px;
    }
    .guide img{
        width: 150px; 
    }
    .guides-parrot-row{
        margin-left: 0px;
    }
    .guides-parrot-row img{
        width: 80%;
        height: 2.5vh;
    }

    .products{
        flex-direction: column-reverse;
    }
    .product-categories{
        flex-direction: column;
    }
    .shop{
        height: 200vh;
    }
    .products{
        height: 150vh;
        margin-bottom: 50px;
    }
    .shop-info{
        margin-bottom: 100px;
    }
    .shop-info h3{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .shop-info h2{
        font-size: 4rem;
    }
    
}

@media (min-width: 300px) and (max-width: 400px){
    .about-us{
        height: 100%;
    }
    .guides{
        height: 180vh;
        justify-content: center;
    }
    .mul-guides{
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }
    .guides-parrot-row img{
        width: 80%;
        height: 2.2vh;
    }


    .shop{
        height: 210vh;
    }
    .products{
        height: 180vh;
    }

}