@import url("ProjectAssets.css");
body{
  margin: 0;
  background-color: var(--bg-clr);
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  background-color: var(--bg-clr);
  padding: 10px 25px;
}
header a:hover{
  color: var(--grey-green);
}
main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px; /* limits how wide the grid can grow */
  margin: 0 auto; /* centers it horizontally */
  justify-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.intro{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px 20px;
}
h1{
  color: var(--heading1-clr);
  font-family: var(--main-heading);
  font-weight: bold;
  font-size: 4rem;
  padding-top: 0;
  padding-right: 35px;
  margin-bottom: 0;
  margin-top: 0;
}
h2{
  color: var(--text-subheading-clr);
  font-family: var(--side-notes);
  font-weight: bold;
  padding-top: 0;
  font-size: 3rem;
  padding-left: 35px;
  margin-bottom: 0;
  margin-top: 0;
}
a{
  color: var(--heading1-clr);
  font-family: var(--sub-heading);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  text-decoration: none;
}
a:hover{
  /* text-decoration: wavy; */
  color: var(--light-green);
  cursor: pointer;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 5%;
}
.pro-description i {
  font-size: 20px;
  color: var(--light-green);
  margin-left: 10px;
  align-self: flex-start;
}
.pro-description i:hover{
  color: var(--grey-green);
}
.pro-description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

}
.product img {
  width: 100%;
  height: 180px;
  object-fit: fill;
  border-radius: 10px;
  border: 5px solid var(--heading1-clr);
}
.fa-bars{
  align-self: flex-start;
}
.product{
  display: flex;
  flex-direction: column;
}

/* footer is the seame as in home page */
.footer{
  display: flex;
  flex-direction: column;
}
.footer-parrot-container{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-clr);
}
.footer-parrot-container div{
  width: 50vw;
  padding: 0px 15px;
}
.footer-parrot-images-container-left{
  display: flex;
  flex-direction: row;
}
.footer-parrot-images-container-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer img{
  width: 50px;
  padding: 0px 5px; 
}
.footer-info{
  height: 23vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--heading1-clr);
  color: white;
  font-family: var(--text);
  letter-spacing: 1;
}
.footer a{
  color: white;
}
.footer-icon{
  font-size: 2rem;
  margin: 15px;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.footer-icon:hover{
  transform: scale(1.02);
  font-size: 2.3rem;
  color: var(--pastel-green);
  cursor: pointer;
}
.footer-info p{
  margin-top: 15px;
}
@media (max-width: 1024px) {
  header {
    padding: 10px 15px;
  }

  h1 {
    font-size: 50px;
    padding-right: 30px;
  }

  h2 {
    font-size: 35px;
    padding-left: 30px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
  }

  .product img {
    height: 160px;
  }
  a{font-size: 25px;}
  p{font-size: 20px;}
}
@media (max-width: 768px) {
  header {
    padding: 10px 15px;
  }

  h1 {
    font-size: 50px;
    padding-right: 30px;
  }

  h2 {
    font-size: 35px;
    padding-left: 30px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 95%;
  }

  .product img {
    height: 150px;
  }
  a{font-size: 25px;}
  p{font-size: 20px;}
  .footer-parrot-container {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .footer-parrot-container div {
    width: 50vw;
    min-width: auto;
    justify-content: center;
    padding: 10px 0;
  }
  .footer-parrot-images-container-left{
    justify-content: flex-start;
  }
  .footer-parrot-images-container-right {
    justify-content: flex-end;
  }
  .footer img {
    width: 40px;
    padding: 3px;
  }
  .footer-info {
    height: auto;
    padding: 20px 0;
  }
}
@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-size: 50px;
    padding-right: 30px;
  }

  h2 {
    font-size: 35px;
    padding-left: 30px;
  }

  main {
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
  }

  .product img {
    height: 140px;
  }
  a{font-size: 25px;}
  p{font-size: 20px;}
  .footer-parrot-container {
    gap: 10px;
  }
  .footer img {
    width: 35px;
  }
  .footer-icon {
    font-size: 17px;
    margin: 10px;
  }
  .footer-icon:hover {
    font-size: 19rem;
  }
}
