@import url("ProjectAssets.css");
body{
  margin: 0;
  background-color: var(--bg-clr);
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  padding: 10px 25px;
}
main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px; /* limits how wide the grid can grow */
  margin: 0 auto; /* centers it horizontally */
  justify-items: center;
  justify-content: center;
}
.intro{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 40px 20px;
}
h1{
  color: var(--heading1-clr);
  font-family: var(--main-heading);
  font-weight: bold;
  font-size: 4rem;
  padding-top: 0;
  padding-right: 35px;
  margin-bottom: 0;
  margin-top: 0;
}
h2{
  color: var(--text-subheading-clr);
  font-family: var(--side-notes);
  font-weight: bold;
  padding-top: 0;
  font-size: 3rem;
  padding-left: 35px;
  margin-bottom: 0;
  margin-top: 0;
}
a{
  color: var(--heading1-clr);
  font-family: var(--sub-heading);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  text-decoration: none;
}
a:hover{
  /* text-decoration: wavy; */
  color: var(--light-green);
  cursor: pointer;
}
header i {
  font-size: 30px;
  color: var(--text-subheading-clr);
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.product-info i {
  font-size: 20px;
  color: var(--light-green);
  margin-left: 10px;
}
.product img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid var(--heading1-clr);
}
.fa-bars{
  align-self: flex-start;
}
.product{
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  main {
    grid-template-columns: 1fr;
  }
}
